@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$font-oswald: "Oswald", sans-serif;

$Big-Machine-1-hex: #bd2a2e;
$Big-Machine-2-hex: #3b3936;
$Big-Machine-3-hex: #b2bebf;
$Big-Machine-4-hex: #889c9b;
$Big-Machine-5-hex: #486966;
$Big-Machine-6-hex: #151f30;
